.navbar {
    background-color: #4E4E45;
  }
  
  .main-nav {
    padding-bottom: 15px;
    margin-bottom: 15px;
    background-color: rgba(31, 31, 31, 0.8);
    box-shadow: 0px 6px 4px -4px rgba(31, 31, 31, 0.8);
    position: sticky;
    top: 0;
    z-index: 100;
  }

  .main-cardContainer {
    justify-content: center;
  }
  
  .main-card {
    margin-bottom: 40px;
    transition: 0.5s;
    &:hover {
      opacity: 0.5;
      transition: 0.7s;
    }
  }